@using TeamsInMongo.Data

    @if(state)
    {   
        <button class="btn list-group-item list-group-item-action" @onclick="(()=> CRUDOperations.ChooseUserForTeam = User)">@User.Login @User.Name</button>
    }
    else
    {
        <button class="btn list-group-item list-group-item-action" @onclick="ChooseTeam">@Team.Name</button>
        
    }
@code {
    [Parameter]
    public IUser? User { get; set; }
    [Parameter]
    public ITeam? Team { get; set; }
    [Parameter]
    public bool state { get; set; }

    private async void ChooseTeam()
    {
        CRUDOperations.ChooseTeam = Team;
        TeamCreate.User1 = Team.Users[0];
        TeamCreate.User2 = Team.Users[1];
        TeamCreate.User3 = Team.Users[2];
        TeamCreate.User4 = Team.Users[3];
        TeamCreate.Name = Team.Name;
        TeamCreate.User5 = Team.Users[4];
        TeamCreate.UpdateUsersEvent();
        StateHasChanged();
    }
}
