@page "/counter"
@using TeamsInMongo.Data
@inject User user
<PageTitle>Counter</PageTitle>

<div class="row">
    <div class="col col-4">
        <UserList Users=CRUDOperations.TakeUserList().Result></UserList>
        <LoginUser></LoginUser>
    </div>
    <div class="col col-4" >
        <TeamCreate></TeamCreate>
    </div>
    <div class="col col-4">
        <TeamList Teams=CRUDOperations.TakeTeamList().Result></TeamList>
    </div>
</div>


<div class="position-absolute bottom-0 end-0">
    <label>@user.Name</label>
    <label>@user.Login</label>
</div>

@code {

}
