@using TeamsInMongo.Data
@page "/"

<PageTitle>Index</PageTitle>

<h6 class="mt-5">Регистрация новых пользователей</h6>
<div class="col col-4">
    <input type="text" placeholder="Имя" class="border input-group-text mb-2" @bind="Name" />
    <input type="text" placeholder="Логин" class="border input-group-text mb-2" @bind="Login" />
    <input type="text" placeholder="Email" class="border input-group-text mb-2" @bind="Email" />
    <button class="btn btn-outline-success py-2 px-4 mx-5" @onclick="Submit">Создать</button>
</div>

<div class="position-absolute bottom-0 end-0">
    <button >@user.Name</button>
    <button >@user.Login</button>
</div>